header .colorText{
    font-size: clamp(1.6rem, 2vw, 2rem);

}

@media(width >= 1200px){
      header{
        grid-template-rows: repeat(4, auto);
         grid-template-columns: repeat(3, 1fr);
    }
      header h1{
        grid-column: 1/4;
        grid-row: 2/3;
        padding: 0;
    }

      #box { 
        grid-column: 1/2; 
        grid-row: 3/4; 
        height: 100%;
    } 

     header .notMoviel{
        display: block;
        font-size: 1.2em;
        grid-column: 3/4;
        line-height: 1.5;
    }

    #btn-content{
        grid-column: 3/4;
        grid-row: 4/5;
        justify-self: center;
        border-left:var(--border-line);
        width: 100%;
    }
}