*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #100B16;
    /* overflow-x: hidden; */
    font-family: 'inter', sans-serif;
}
.border-right{
    border-right: 1px solid #4B2870;
    height: 100%;
    padding: 0 0 0 1em;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.border-left{
    border-left: 1px solid #4B2870;
    padding: 0 1em 0 0;
    height: 100%;
}
.border-bottom{
    border-bottom: 1px solid #4B2870;
}  
.border-top{
    border-top: 1px solid #4B2870;
} 
main{
    margin: 0 1em;
    border-left: 1px solid #4B2870;
    border-right: 1px solid #4B2870;
    height: 100%;
}
header,section{
    width: 100%;
    height: 100%;
    display: grid;
}
header{
    position: relative;
}
#mainNav{
    height: 11vh;
    grid-row: 1/2;
    display: grid;
    height: 100%;
}
#logo{
    font-size: 45px;
    font-weight: bold;
    color: #C3E2FF;
    text-decoration: none;

}
#burgerIcon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    width: 100%;
    grid-column: 2/3;
    height: 100%;
}
#burgerIcon, #logo{
    padding: 20px 1em;
}
#burgerIcon .bar{
    height: 15px;
    width: 65px;
    background: #7200FB;
}
.colorText{
    color: #C3E2FF;
    padding: 1em;
}
header p{
    text-align: center;
}
    
  
      
   

/* .grid{ */
/*     display: grid; */
/*  */
/* } */
/* .gird-colum{ */
/*     grid-template-columns: repeat(2, 1fr); */
/* } */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#BurgerMenu{
    display: none;
}

#hamburgerContent{
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #100B16;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: end;
    justify-content: start;
    transition-duration: .25s;
}
#BurgerMenu:checked ~ #hamburgerContent{
   right: 0; 
}
.TitleColor{
    color: #91BBE2;
    font-weight: 700;
}
h1, header p{
    text-align: center;
}
h1{
 font-size: 66px; 
 line-height: 1.3;
 grid-row: 2/3;
 padding: 15px;

}
#box{
    height: 15vh;
}

header .colorText{
    font-size: 2em;
    font-weight: 600;
}
.border-bottom{
    border-bottom: 1px solid #4B2870;
}
.buttonPurple{
    margin: 1em;
    background-color: #7200FB;
    border: none;
    color: #91BBE2;
    font-family: 'inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.title{
    text-align: center;
    font-size: 83px;
    padding: 0.5em 0;
}
.imgConteiner{
    height: 500px;
}

section p{
    font-size: 25px;
    line-height: 1.5;
}  

.project li a{
    font-size: 2em;
}

.project li a, .urlContact li a{
    padding: 1em;
    display: block;
     word-break: break-word;
}

.urlContact li{
    width: 100%;
}

.urlContact li a{
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#Contact .imgConteiner{
    height: 380px;
}

footer{
    width: 100%;
    background: #C3E2FF;
    text-align: center;
}
footer h3{
    padding: 1em;
    color: #100B16;
    font-size: 3em;
}