*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #100B16;
    /* overflow-x: hidden; */
    font-family: 'inter', sans-serif;
    overflow-x: hidden;
}
.border-right{
    border-right: 2px solid #4B2870;
    height: 100%;
    padding: 0 0 0 1em;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.border-left{
    border-left: 2px solid #4B2870;
    padding: 0 1em 0 0;
    height: 100%;
}
.border-bottom{
    border-bottom: 2px solid #4B2870;
}  
.border-top{
    border-top: 2px solid #4B2870;
} 
main{
    margin: 0 1em;
    border-left: 2px solid #4B2870;
    border-right: 2px solid #4B2870;
    height: 100%;
    overflow-x: hidden;
}
header,section{
    width: 100%;
    height: 100%;
    display: grid;
}
header{
    position: relative;
}
header #hamburgerContent ul{
    border: none;
}
#mainNav{
    height: 11vh;
    grid-row: 1/2;
    display: grid;
    height: 100%;
}
#logo{
    font-size: 45px;
    font-weight: bold;
    color: #C3E2FF;
    text-decoration: none;

}
#burgerIcon{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    width: 100%;
    grid-column: 2/3;
    height: 100%;
    z-index: 2;
}
#burgerIcon, #logo{
    padding: 20px 1em;
}
#burgerIcon .bar{
    height: 15px;
    width: 65px;
    background: #7200FB;
}
.colorText{
    color: #C3E2FF;
    padding: 1em;
}
header p{
    text-align: center;
}
    
.notMoviel{
    display: none;
}
      
   

/* .grid{ */
/*     display: grid; */
/*  */
/* } */
/* .gird-colum{ */
/*     grid-template-columns: repeat(2, 1fr); */
/* } */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#BurgerMenu{
    display: none;
}

#hamburgerContent{
    position: absolute;
    top: 12vh;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #100B16;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: start;
    transition-duration: .25s;
    padding: 10em 0;
}
#BurgerMenu:checked ~ #hamburgerContent{
   right: 0; 
}
#hamburgerContent ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#hamburgerContent ul li{
    width: 100%;
    text-align: center;
}   
#hamburgerContent ul li a{
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
    display: block;
}

#languageSelect{
   
    padding: 0.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 2em;
}
#languageSelect option{
    background: #100B16;
    color: #C3E2FF;
    border: none;
}
.TitleColor{
    color: #91BBE2;
    font-weight: 700;
}
h1, header p{
    text-align: center;
}
h1{
 font-size: 66px; 
 line-height: 1.3;
 grid-row: 2/3;
 padding: 15px;

}
#box{
    height: 15vh;
}

header .colorText{
    font-size: 2em;
    font-weight: 600;
}

.button-Border{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.buttonPurple{
    margin: 1em;
    background-color: #7200FB;
    border: none;
    color: #91BBE2;
    font-family: 'inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.title{
    text-align: center;
    font-size: 83px;
    padding: 0.5em 0;
}
.imgConteiner{
    height: 500px;
}

section p{
    font-size: 25px;
    line-height: 1.5;
}  

.project li a{
    font-size: 2em;
}

.project li a, .urlContact li a{
    padding: 1em;
    display: block;
     word-break: break-word;
}

.urlContact li{
    width: 100%;
}

.urlContact li a{
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#Contact .imgConteiner{
    height: 380px;
}

footer{
    width: 100%;
    background: #C3E2FF;
    text-align: center;
}
footer h3{
    padding: 1em;
    color: #100B16;
    font-size: 3em;
}

@media(width >= 1200px){
    header, section{
        height: 95vh;
        overflow: hidden;
    }

    header{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    #mainNav{
        height: 13vh;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #burgerIcon{
        display: none;
    }
    #hamburgerContent{
        position: static;
        background-color: transparent;
        flex-direction: row;
        height: auto;
        grid-column: 2/3;
        padding: 0 1em;
        border: none;
        height: 100%;
    }
   header #hamburgerContent ul {
        flex-direction: row;
        padding: 0;
        align-self: start;
        justify-self: start;
        border-right: 2px solid #4B2870;
        border-left: 2px solid #4B2870;
    }
    #logo{
        height: 100%;
        font-size: 40px;
        align-self: center;
        justify-self: end;
        
    }
    #hamburgerContent ul li a{
        font-size: 1.3em;
        width: auto;
        font-weight: normal;
        border: none;
    }

    #languageSelect{
        margin-top: 0;
        font-size: 1.3em;
        border: none;
    }
    header h1{
        grid-column: 1/4;
        grid-row: 2/3;
        padding: 0;
        height: 16vh;
    }
    #box{
        grid-column: 1/2;
        grid-row: 3/4;
        height: 100%;
        width: 100%;
        
    }
   header .notMoviel{
        display: block;
        font-size: 1.2em;
        grid-column: 3/4;
        line-height: 1.5;
    }
    #work, #box{
        border-right: 2px solid #4B2870;
    }
    #work{
        border-bottom: none;
    }
    header .colorText{
        font-weight: normal;
        text-align: left;

    }
   .button-Border{
        grid-column: 3/4;
        grid-row: 4/5;
        justify-self: center;
        border-left: 2px solid #4B2870;
        width: 100%;
    }
}