picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
picture img{
    width: 100%;
    padding: 1em;
}
.subTitle{
    text-align: center;
    padding: 1em;
    font-size: 2.5rem;
}
#Development h2{
    word-break: break-all;
}
.buttonPurpleBorder{
      margin: 1em;
    background-color: transparent;
    border: 2px solid #7200FB;
    color: #d3e2f0;
    font-family: 'inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

#mockupTwo, #mockupThree{
    display: none;
}

@media(width >= 1200px){
    header{
         grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
    }
   #nameProject{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    #mockupTwo{
        grid-row: 3/4;
        width: 100%;
        grid-column:1/2 ;
    }
    #mockupThree{
        grid-row:5/6 ;
        grid-column: 1/2;
        width: 100%;
    }

    #mockupTwo, #mockupThree{
        display: block;
    }

    picture{
        grid-column: 2/3;
        grid-row: 3/6;
        height: 100%;
        width: auto;
        align-self: center;
        justify-self: center;
    }
    picture img{
        height: 100vh;
    }
    #rol, #stack{
        height: 17vh;
    }
    #explanation{
        grid-row: 2/4;
        grid-column: 3/4;
    }
    #rol{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    #stack{
        grid-column: 3/4;
        grid-row: 5/6;
    }

    header .buttonPurple{
        grid-row: 6/7;
        grid-column: 3/4;
    }

}