header .text{
        font-size: 3vh
}
picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
picture img{
    width: 100%;
    padding: 1em;
}
.subTitle{
    text-align: center;
    padding: 1em;
    font-size: 2.5rem;
}
#Development h2{
    word-break: break-all;
}
.buttonPurpleBorder{
      margin: 1em;
    background-color: transparent;
    border: 2px solid #7200FB;
    color: #d3e2f0;
    font-family: 'inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

#mockupTwo, #mockupThree{
    display: none;
}

 #buttonDeveloment{
        display: flex;
        flex-direction: column;
        align-items: center;
     }

header .colorText{
    font-size: 2em;
}

@media(width >= 1200px){
    header{
         grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    header picture{
        border-bottom: none !important;
    }
    .text{
        text-align: left;
    }
    section .title{
        height: 26vh;
        padding: 18px;
    }
   #nameProject{
        grid-row: 2/3;
        grid-column: 1/3;
        height: 100%;
        padding: 38px;
    }
    #mockupTwo{
        grid-row: 3/5;
        width: 100%;
        grid-column:1/2 ;
    }
    #mockupThree{
        grid-row:5/7 ;
        grid-column: 1/2;
        width: 100%;
    }
    img{
        object-fit: cover;
    }

    #mockupTwo, #mockupThree{
        display: block;
        padding: 1em;
        height: 100%;
    }
    
    picture{
        grid-column: 2/3;
        grid-row: 3/7;
        height: 100%;
        width: auto;
        align-self: center;
        justify-self: center;
        
        
    }
    #Overview picture, header picture{
        border: none ;
    }
    picture img{
        height: 100%;
    }
    #rol, #stack{
        height: 100%;
    }
    #explanation{
        grid-row: 2/4;
        grid-column: 3/4;
        height: 50vh;
    }
    #rol{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    #stack{
        grid-column: 3/4;
        grid-row: 5/6;
    }

    header .buttonPurple{
        grid-row: 6/7;
        grid-column: 3/4;
    }

    #Overview{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 26% 74% ;
    }

    #Overview h2{
        grid-column: 1/3;
    }

  #Overview picture{
    grid-row: 2/3;
    height: 100%;
  }

    #Overview p{
        border-bottom: none;
    }
    #MyRole{
        display: flex;
        flex-direction: column;
        
    }

    #Process, #MyRole{
      height: auto;  
    }

    #Process{
        grid-template-columns: 40% 60% ;
    } 

    #Process h2{
        grid-column: 1/3;
    }

    .subTitle{
        font-size: 7.438rem;
        padding: 0;
    }

    #Research{
        grid-column: 1/3;
    }
    #textResearch{
        grid-column: 1/2;
        height: 79vh; 
    }
    #ImgResearch{
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
    }
    #ImgResearch img{
        height: 74vh;
    }
    #UIElements{
        grid-column: 2/3;
        grid-row: 4/5;
    }

    #imgElementsOne{
        grid-column: 1/2;
        grid-row: 4/6;
       
    }

     #imgElementsOne img{
        object-fit: contain;
     }
    #imgElementsTwo{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    #imgElementsTwo img{
        object-fit: contain;
    }

    #imgElementsThree{
        grid-row: 6/7;
        grid-column: 1/3;
        width: 100%;
    }

    #Wireframes{
        grid-row: 7/8;
        grid-column: 1/2;
    }
    #imgWireframesOne{
        grid-column: 2/3;
        grid-row: 7/9;
        height: 90vh;
        width: 100%;
        border-bottom: none;
    }
    #imgWireframesTwo{
        grid-column: 1/2;
        grid-row: 8/9;
    }

    #Development{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, auto);
        height: auto ;
    }

     #Development h2{
        grid-column: 1/3;
     }

     #StackDeveloment{
        grid-row: 2/3;
        text-align: center;
     }

     #textDeveloment{
        grid-row: 2/4;
     }
     h3{
        overflow-wrap: break-word;
     }

     header .colorText{
    font-size: 1.5em;
}
}