picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
picture img{
    width: 100%;
    padding: 1em;
}
.subTitle{
    text-align: center;
    padding: 1em;
    font-size: 2.5rem;
}
#Development h2{
    word-break: break-all;
}
.buttonPurpleBorder{
      margin: 1em;
    background-color: transparent;
    border: 2px solid #7200FB;
    color: #d3e2f0;
    font-family: 'inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}